* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 108px;
    background-color: #1f2937;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.header .links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header .links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 108px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero .content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .content button {
    border: none;
    outline: none;
    padding: 7px 16px;
    width: fit-content;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

.hero .img-container {
    width: 500px;
    height: 300px;
    background-color: grey;
}

.info {
    text-align: center;
    padding: 32px 108px;
}

.info h1 {
    margin-bottom: 48px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info .cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: #5d6775;
}

.info .card-img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.quote {
    padding: 108px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote p {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    color: #1f2937;
}

.action {
    padding: 72px 196px;
}

.action .container {
    background-color: #3882f6;
    padding: 48px 108px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;

    border-radius: 10px;
}

.action .content h2 {
    color: white;
}

.action .content p {
    color: #e5e7eb;
}

.action button {
    border: 2px solid white;
    outline: none;
    padding: 7px 24px;
    width: fit-content;
    height: fit-content;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    flex-shrink: 0;
}
